<div class="container__big-card">
    <a href="#" target="_blank">
        <div class="big-card__date">
        </div>
        <div class="big-card__picture">
            <img
            src={{photoCover}}
            alt={{bigCardTitle}}
            />
            <span>
                {{bigCardDate}}
            </span>
        </div>
    </a>
    <div class="big-card__title">
        <a href="#" target="_blank" rel="noopener noreferrer">
            <h4>
                {{bigCardTitle}}
            </h4>
        </a>
    </div>
    <div class="big-card__description">
        <p>
            {{bigCardDescription}}
        </p>
    </div>
</div>
