
.container__small-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
    color: #fff;  
    margin-left: 22px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(150, 146, 146, 0.452);
}

.container__small-card  .small-card__picture img{
    min-width: 200px;
    height: 150px;
    margin-right: 22px;
}


.container__small-card .small-card__title{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-self: flex-start;
}

.container__small-card .small-card__title span{
    font-size: 11px;
    color: rgba(255, 255, 255, .5 );
}
.container__small-card .small-card__title h4{
    font-size: 15px;
    color: #fff;
    margin-top: 20px;    
}

.container__small-card .small-card__title a{
    display: block;
    width: 100%;
    padding-right: 4px;
}