<div class="container__small-card">
    <div class="small-card__picture">
        <a href="#" target="_blank" rel="noopener noreferrer">
            <img
                src={{photoCover}}
                alt={{smallCardTitle}}
                />  
               
        </a>
    </div>
    <div class="small-card__title">
        <span class="small-card__data">Dezembro 15, 2023</span>
        <h4>
            <a href="#" target="_blank" rel="noopener noreferrer">
                {{smallCardTitle}}
            </a>
        </h4>
        <a href="#" target="_blank" rel="noopener noreferrer"></a>
    </div>
</div>