<div class="container__homer">
    <header>
        <app-menu-bar></app-menu-bar>
    </header>
    <app-menu-title mainTitle="Campeões do LOL"></app-menu-title>
    <div class="articles">
        <div class="articles__main">
            <app-big-card
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_2.jpg"
                bigCardTitle="Aatrox"
                bigCardDescription="Antes defensores honrados de Shurima contra
                o temido Vazio, Aatrox e seus irmãos acabaram se tornando uma
                ameaça ainda maior para Runeterra, e a única coisa capaz de
                derrotá-los foi um tipo de feitiçaria mortal e traiçoeira. Mas
                após séculos de encarceramento, Aatrox foi o primeiro a
                encontrar a liberdade novamente, e ele saiu corrompendo e
                transformando quem fosse tolo o suficiente de tentar tocar na
                arma mágica que continha sua essência. Agora, com um corpo
                roubado, ele vaga por Runeterra transfigurado, em uma versão
                bizarra da sua forma anterior, buscando uma vingança
                apocalíptica.">
            </app-big-card>
        </div>
        <div class="article__others">
            <app-small-card
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Fizz_0.jpg"
                releaseDate="15/11/2011"
                smallCardTitle="Fizz - O TRAPACEIRO DAS MARÉS">
            </app-small-card>
            <app-small-card
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Kled_0.jpg"
                releaseDate="10/08/2016"
                smallCardTitle="Kled - O CAVALEIRO INTRATÁVEL">
            </app-small-card>
            <app-small-card
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/MasterYi_0.jpg"
                releaseDate="21/02/2009"
                smallCardTitle="Master Yi - O ESPADACHIM WUJU"></app-small-card>
        </div>
    </div>
</div>