<div class="container__homer">
    <app-menu-title mainTitle="Campeões do LOL"></app-menu-title>
    <div class="articles">
        <div class="articles__main">
            <app-big-card
                id="1"
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_2.jpg"
                bigCardTitle="Aatrox"
                bigCardDescription="A ESPADA DARKIN">
            </app-big-card>
        </div>
        <div class="article__others">
            <app-small-card
                id="2"
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Fizz_0.jpg"
                releaseDate="15/11/2011"
                smallCardTitle="Fizz - O TRAPACEIRO DAS MARÉS">
            </app-small-card>
            <app-small-card
                id="3"
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Kled_0.jpg"
                releaseDate="10/08/2016"
                smallCardTitle="Kled - O CAVALEIRO INTRATÁVEL">
            </app-small-card>
            <app-small-card
                id="4"
                photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/MasterYi_0.jpg"
                releaseDate="21/02/2009"
                smallCardTitle="Master Yi - O ESPADACHIM WUJU"></app-small-card>
        </div>
    </div>
</div>