
.container__homer{
    margin: 0 auto;
    padding: 0 3.25rem;
    display: flex;
    flex-direction: column;
    width: 94%;
}

.container__homer .articles {
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    margin-top: 20px;
}